 <!--begin::Footer-->
 <div id="kt_app_footer" class="app-footer ">
    <!--begin::Footer container-->
    <div
        class="app-container  container-fluid d-flex flex-column flex-md-row flex-center flex-md-stack py-3 ">
        <!--begin::Copyright-->
        <div class="text-gray-900 order-2 order-md-1">
            <span class="text-muted fw-semibold me-1">Copyright © 2024 <a href="https://www.linkedin.com/in/elsherifx09/" target="_blank">Dev. Ahmed El-Sherif</a>. All rights reserved.</span>
        </div>
        <!--end::Copyright-->

        <!--begin::Menu-->
        <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
            <li class="menu-item"><a href="https://github.com/0xelsherif" target="_blank"
                    class="menu-link px-2">Github</a></li>

            <li class="menu-item"><a href="https://www.linkedin.com/in/elsherifx09/" target="_blank"
                    class="menu-link px-2">Linkedin</a></li>

            <li class="menu-item"><a href="mailto:dev.ahmedelsherif@gmail.com" target="_blank"
                    class="menu-link px-2">Support</a></li>
        </ul>
        <!--end::Menu-->
    </div>
    <!--end::Footer container-->
</div>
<!--end::Footer-->